## Final Project Submission

Please fill out:
* Student name: 
* Student pace: self paced / part time / full time
* Scheduled project review date/time: 
* Instructor name:
* Blog post URL:

In [21]:
# Your code here - remember to use markdown cells for comments as well!

In [22]:
## Introduction

In [1]:
# Import necessary modules
import pandas as pd
import matplotlib.pyplot as pyt
import numpy as np
%matplotlib inline

# Being on with the data -->
Understanding the data plays a crucial role in any analysis.This project will use the Aviation data from kaggle dataset. For the Aviation data we will investigate various factors to get an idea of the business understanding:
1. Getting the dimension of the data
2. Understand the various variables in our data
3. Data Cleaning:
  1. Check for missing data
  2. Check for duplicates
  3. Format columns
  4. Drop columns
4. Data Visualization:
   1. Explore the various variables by using visuals and try to communicate
   2. Check for normality,outliers,spread,measure of tendency in the numeric variable

In [4]:
#Import the data
df= Aviation_Data= pd.read_csv('data/Aviation_Data.csv')

C:\Users\USER\AppData\Local\Temp\ipykernel_14684\1065713092.py:2: DtypeWarning: Columns (6,7,28) have mixed types. Specify dtype option on import or set low_memory=False.
  df= Aviation_Data= pd.read_csv('data/Aviation_Data.csv')

In [5]:
# Check the dataframe
#View the first 5 values
df.head()

,Event.Id,Investigation.Type,Accident.Number,Event.Date,Location,Country,Latitude,Longitude,Airport.Code,Airport.Name,...,Purpose.of.flight,Air.carrier,Total.Fatal.Injuries,Total.Serious.Injuries,Total.Minor.Injuries,Total.Uninjured,Weather.Condition,Broad.phase.of.flight,Report.Status,Publication.Date
0,20001218X45444,Accident,SEA87LA080,1948-10-24,"MOOSE CREEK, ID",United States,NaN,NaN,NaN,NaN,...,Personal,NaN,2.0,0.0,0.0,0.0,UNK,Cruise,Probable Cause,NaN
1,20001218X45447,Accident,LAX94LA336,1962-07-19,"BRIDGEPORT, CA",United States,NaN,NaN,NaN,NaN,...,Personal,NaN,4.0,0.0,0.0,0.0,UNK,Unknown,Probable Cause,19-09-1996
2,20061025X01555,Accident,NYC07LA005,1974-08-30,"Saltville, VA",United States,36.922223,-81.878056,NaN,NaN,...,Personal,NaN,3.0,NaN,NaN,NaN,IMC,Cruise,Probable Cause,26-02-2007
3,20001218X45448,Accident,LAX96LA321,1977-06-19,"EUREKA, CA",United States,NaN,NaN,NaN,NaN,...,Personal,NaN,2.0,0.0,0.0,0.0,IMC,Cruise,Probable Cause,12-09-2000
4,20041105X01764,Accident,CHI79FA064,1979-08-02,"Canton, OH",United States,NaN,NaN,NaN,NaN,...,Personal,NaN,1.0,2.0,NaN,0.0,VMC,Approach,Probable Cause,16-04-1980

In [7]:
# Get the shape/ dimensions of data
df.shape

(90348, 31)

In [8]:
# Data info
Aviation_Data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 90348 entries, 0 to 90347
Data columns (total 31 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Event.Id                88889 non-null  object
 1   Investigation.Type      90348 non-null  object
 2   Accident.Number         88889 non-null  object
 3   Event.Date              88889 non-null  object
 4   Location                88837 non-null  object
 5   Country                 88663 non-null  object
 6   Latitude                34382 non-null  object
 7   Longitude               34373 non-null  object
 8   Airport.Code            50132 non-null  object
 9   Airport.Name            52704 non-null  object
 10  Injury.Severity         87889 non-null  object
 11  Aircraft.damage         85695 non-null  object
 12  Aircraft.Category       32287 non-null  object
 13  Registration.Number     87507 non-null  object
 14  Make                    88826 non-null  object
 15  Model                   88797 non-null  object
 16  Amateur.Built           88787 non-null  object
 17  Number.of.Engines       82805 non-null  float64
 18  Engine.Type             81793 non-null  object
 19  FAR.Description         32023 non-null  object
 20  Schedule                12582 non-null  object
 21  Purpose.of.flight       82697 non-null  object
 22  Air.carrier             16648 non-null  object
 23  Total.Fatal.Injuries    77488 non-null  float64
 24  Total.Serious.Injuries  76379 non-null  float64
 25  Total.Minor.Injuries    76956 non-null  float64
 26  Total.Uninjured         82977 non-null  float64
 27  Weather.Condition       84397 non-null  object
 28  Broad.phase.of.flight   61724 non-null  object
 29  Report.Status           82505 non-null  object
 30  Publication.Date        73659 non-null  object
dtypes: float64(5), object(26)
memory usage: 21.4+ MB

The data composed of 2 data types dtypes: float64(5), object(26)

Presence of missing data

In [6]:
Aviation_Data.columns

Index(['Event.Id', 'Investigation.Type', 'Accident.Number', 'Event.Date',
       'Location', 'Country', 'Latitude', 'Longitude', 'Airport.Code',
       'Airport.Name', 'Injury.Severity', 'Aircraft.damage',
       'Aircraft.Category', 'Registration.Number', 'Make', 'Model',
       'Amateur.Built', 'Number.of.Engines', 'Engine.Type', 'FAR.Description',
       'Schedule', 'Purpose.of.flight', 'Air.carrier', 'Total.Fatal.Injuries',
       'Total.Serious.Injuries', 'Total.Minor.Injuries', 'Total.Uninjured',
       'Weather.Condition', 'Broad.phase.of.flight', 'Report.Status',
       'Publication.Date'],
      dtype='object')

In [7]:
# Check missing values
Aviation_Data.isnull().mean()*100

Event.Id                   1.614867
Investigation.Type         0.000000
Accident.Number            1.614867
Event.Date                 1.614867
Location                   1.672422
Country                    1.865011
Latitude                  61.944924
Longitude                 61.954886
Airport.Code              44.512330
Airport.Name              41.665560
Injury.Severity            2.721698
Aircraft.damage            5.150086
Aircraft.Category         64.263736
Registration.Number        3.144508
Make                       1.684597
Model                      1.716695
Amateur.Built              1.727764
Number.of.Engines          8.348829
Engine.Type                9.468942
FAR.Description           64.555939
Schedule                  86.073848
Purpose.of.flight          8.468367
Air.carrier               81.573471
Total.Fatal.Injuries      14.233851
Total.Serious.Injuries    15.461327
Total.Minor.Injuries      14.822686
Total.Uninjured            8.158454
Weather.Condition          6.586753
Broad.phase.of.flight     31.681941
Report.Status              8.680878
Publication.Date          18.471909
dtype: float64

In [13]:
original_data= Aviation_Data.copy()
# df= original_data    make correction on df

In [17]:
Aviation_Data.drop(columns=['Schedule', 'Air.carrier', 'Latitude','Longitude','Airport.Code', 'Airport.Name'], inplace= True)

In [18]:
# Get info on the object/ Categorical variables
Aviation_Data.select_dtypes(include='object').info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 90348 entries, 0 to 90347
Data columns (total 20 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Event.Id               88889 non-null  object
 1   Investigation.Type     90348 non-null  object
 2   Accident.Number        88889 non-null  object
 3   Event.Date             88889 non-null  object
 4   Location               88837 non-null  object
 5   Country                88663 non-null  object
 6   Injury.Severity        87889 non-null  object
 7   Aircraft.damage        85695 non-null  object
 8   Aircraft.Category      32287 non-null  object
 9   Registration.Number    87507 non-null  object
 10  Make                   88826 non-null  object
 11  Model                  88797 non-null  object
 12  Amateur.Built          88787 non-null  object
 13  Engine.Type            81793 non-null  object
 14  FAR.Description        32023 non-null  object
 15  Purpose.of.flight      82697 non-null  object
 16  Weather.Condition      84397 non-null  object
 17  Broad.phase.of.flight  61724 non-null  object
 18  Report.Status          82505 non-null  object
 19  Publication.Date       73659 non-null  object
dtypes: object(20)
memory usage: 13.8+ MB

In [19]:
Aviation_Data['Investigation.Type']

0        Accident
1        Accident
2        Accident
3        Accident
4        Accident
           ...
90343    Accident
90344    Accident
90345    Accident
90346    Accident
90347    Accident
Name: Investigation.Type, Length: 90348, dtype: object

In [20]:
# Get info on the numerical variables
Aviation_Data.select_dtypes(include='number').info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 90348 entries, 0 to 90347
Data columns (total 5 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Number.of.Engines       82805 non-null  float64
 1   Total.Fatal.Injuries    77488 non-null  float64
 2   Total.Serious.Injuries  76379 non-null  float64
 3   Total.Minor.Injuries    76956 non-null  float64
 4   Total.Uninjured         82977 non-null  float64
dtypes: float64(5)
memory usage: 3.4 MB